<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title Page-->
    <title>ConsultMe </title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon1.png') }}" class="bg-dark"
        style="filter: invert(100%);">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" media="all">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a href="#"><img src="{{ url_for('static', filename='img/logo1.png') }}" alt="" width="50" height="50"
                style="border-radius: 20px;padding: 5px;"></a>
        <a href="/" class="navbar-brand">ConsultMe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/predict">Predict a Disease</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/consult">Consult</a>
                </li>
            </ul>
            <ul class="navbar-nav " style="float: right;">
                {% if current_user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link active " href="/account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
    </nav>  

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% if current_user.ispatient %}
    <div class="container">
        <div class="acc_card profile col-sm-12 col-md-4" style="margin: 5px">
            <div style="display: flex;">
                    <img src="../static/profile_pics/{{image_file}}" width="100" height="100" class="round-circle " style="border-radius:100px" style="flex: 1;">
                    <label for="file-upload" class="custom-file-upload" style="margin-top: 100px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                    style="margin: 2pxx;">
                    <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </label>  
            <input id="file-upload" name="file" type="file"/>
    </div>
    
    
    <form  method="POST" autocomplete="off" action="/account">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <p class="acc_title" class="form-control-label">Username :</p>
            {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg",value=userone.username) }}
                </div>
                <div class="input-group">
            
                    <p class="acc_title" class="form-control-label">Name :</p>
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg",value=userone.u_name) }}
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label" >Gender :</p>
                    <span class="acc_content" style="margin-top: 7px;">{{userone.gender}}</span>
                </div>

                <div class="input-group" >
                    <p class="acc_title" class="form-control-label">Email :</p>
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg",value=userone.email ,readonly="true") }}
                </div>
                <div class="input-group">
                    <p class="acc_title" class="form-control-label">Past Medical History :</p>
                    {{ form.med_history.label(class="form-control-label") }}
                    <p class="acc_content">{{userone.med_history}} </p>
                    {{ form.med_history(class="form-control form-control-lg",value="") }}
                   
                </div>

                
                <button class="btn btn--blue btn--radius-2" name="save-btn" type="submit" value="save">Save
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16"
                        style="margin: 10px 0 0 2px;">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                      </svg>
                    </button>
            </form>
        </div>
        <div class="acc_card col-sm-12 col-md-7" style="display: flex; flex-direction: column ">
            <h2 class="title">
                Information about Predicted Disease<p>{{user}}</p>
            </h2>

            <div class="table-responsive over">

                <table class="table table-hover">
                    <thead>
                        <tr class="bg-dark" style="color: whitesmoke;">
                            <th class="acc_title">Symptoms</th>
                            <th class="acc_title">Prdicted disease</th>
                            <th class="acc_title">Satisfaction</th>
                            <th class="acc_title">Date and Time</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for pred in pred_list %}
                        {% if pred.feedback %}
                        <tr class="success">
                            <td>
                                <ul class="navbar-nav">
                                    <li class="acc_content">{{ pred.symptom1 }}</li>
                                    <li class="acc_content">{{ pred.symptom2 }}</li>
                                    <li class="acc_content">{{ pred.symptom3 }}</li>
                                    <li class="acc_content">{{ pred.symptom4 }}</li>
                                    <li class="acc_content">{{ pred.symptom5 }}</li>
                                </ul>
                            </td>
                            <td>{{pred.disease_name}} disease</td>
                            <td>
                                <span style='font-size:40px;'>&#128516;</span>
                            </td>
                            <td>
                                <p>{{pred.predtime}}</p>
                            </td>
                        </tr>
                        {% else %}
                        <tr class="danger">
                            <td>
                                <ul class="navbar-nav">
                                    <li class="acc_content">{{ pred.symptom1 }}</li>
                                    <li class="acc_content">{{ pred.symptom2 }}</li>
                                    <li class="acc_content">{{ pred.symptom3 }}</li>
                                    <li class="acc_content">{{ pred.symptom4 }}</li>
                                    <li class="acc_content">{{ pred.symptom5 }}</li>
                                </ul>
                            </td>
                            <td>{{pred.disease_name}} disease</td>
                            <td>
                                <span style='font-size:40px;'>&#128553;</span>
                            </td>
                            <td>
                                <p>{{pred.predtime}}</p>
                            </td>
                        </tr>
                        
                        {% endif %}
                        {% endfor %}
                       
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    {% if ratelist %}
    <div class="container">

        <div class="acc_card profile col-sm-12 col-md-4" style="max-height: 90vh;">
            <div style="display: flex;">
                <form  method="POST" autocomplete="off" action="/account" enctype="multipart/form-data">

                
                <img src="{{ url_for('static', filename='img/user1.png') }}" width="100" height="100" class="round-circle"
                    style="border-radius:100px" style="flex: 1;">
               
                <label for="file-upload" class="custom-file-upload" style="margin-top: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                    style="margin: 2pxx;">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </label>  
                <input id="file-upload" name="file" type="file"/>
                
              </form>
            </div>
            <form  method="POST" autocomplete="off" action="/account" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    <p class="acc_title" class="form-control-label">Username :</p>
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg",value=userone.username) }}
                </div>
                <div class="input-group">
                    <p class="acc_title" class="form-control-label">Name :</p>
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg",value=userone.u_name) }}
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label" >Gender :</p>
                    <span class="acc_content" style="margin-top: 7px;">{{userone.gender}}</span>
                </div>

                <div class="input-group" >
                    <p class="acc_title" class="form-control-label ">Email :</p>
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg",value=userone.email ,readonly="true") }}
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label">Specialist :</p>
                    {{ form.specialist.label(class="form-control-label") }}
                    <p class="acc_content" style="margin-top: 7px;">{{userone.specialist}}</p>
                   
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label">Experience :</p>
                    {{ form.experience.label(class="form-control-label") }}
                    <p class="acc_content" style="margin-top: 7px;">Having {{userone.experience}} years of experience </p>
                   
                </div>

                
                <button class="btn btn--blue btn--radius-2" name="save-btn" type="submit" value="save">Save<svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                        style="margin: 10px 0 0 2px;">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
            </form>
        </div>
        
        <div class="acc_card col-sm-12 col-md-7" style="display: flex; flex-direction: column;max-height: 90vh;">
            <h2 class="title">
                Information about Consultation Given
            </h2>

            <div class="table-responsive over">

                <table class="table table-hover">
                    <thead>
                        <tr class="bg-dark" style="color: whitesmoke;">
                            <th class="acc_title">Patient Name</th>
                            <th class="acc_title">Disease</th>
                            <th class="acc_title">Feedback Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for users in ratelist %}
                        {% if users[4] %}
                            <tr class="success">
                                <td>
                                    <p class="acc_content">{{users[1]}}</p>
                                </td>
                                <td>{{users[2]}} </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:{{users[3]}}%"
                                            aria-valuenow={{users[3]}} aria-valuemin="0" aria-valuemax="100">
                                            {{users[3]}}</div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="danger">
                                <td>
                                    <p class="acc_content">{{users[1]}}</p>
                                </td>
                                <td>{{users[2]}} </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:{{users[3]}}%"
                                            aria-valuenow={{users[3]}} aria-valuemin="0" aria-valuemax="100">
                                            {{users[3]}}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        {% else %}
        <div class="container" style="display: flex; align-items: center; justify-content: center ;">
        <div class="acc_card profile col-sm-12 col-md-6">
            <div style="display: flex;">
                <form  method="POST" autocomplete="off" action="/account" enctype="multipart/form-data">

                
                <img src="{{ url_for('static', filename='img/user1.png') }}" width="100" height="100" class="round-circle"
                    style="border-radius:100px" style="flex: 1;">
               
                <label for="file-upload" class="custom-file-upload" style="margin-top: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                    style="margin: 2pxx;">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </label>  
                <input id="file-upload" name="file" type="file"/>
                
              </form>
            </div>
            <form  method="POST" autocomplete="off" action="/account" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    <p class="acc_title" class="form-control-label">Username :</p>
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg",value=userone.username) }}
                </div>
                <div class="input-group">
                    <p class="acc_title" class="form-control-label">Name :</p>
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg",value=userone.u_name) }}
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label" >Gender :</p>
                    <span class="acc_content" style="margin-top: 7px;">{{userone.gender}}</span>
                </div>

                <div class="input-group" >
                    <p class="acc_title" class="form-control-label ">Email :</p>
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg",value=userone.email ,readonly="true") }}
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label">Specialist :</p>
                    {{ form.specialist.label(class="form-control-label") }}
                    <p class="acc_content" style="margin-top: 7px;">{{userone.specialist}}</p>
                   
                </div>
                <div class="input-group" style="display: flex;">
                    <p class="acc_title" class="form-control-label">Experience :</p>
                    {{ form.experience.label(class="form-control-label") }}
                    <p class="acc_content" style="margin-top: 7px;">Having {{userone.experience}} years of experience </p>
                   
                </div>

                
                <button class="btn btn--blue btn--radius-2" name="save-btn" type="submit" value="save">Save<svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                        style="margin: 10px 0 0 2px;">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
            </form>
        </div>
        {% endif %}
        <div class="acc_card profile col-sm-12 col-md-11" style="width:400 ;height:400">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    

    {% endif %}

    <footer class="py-5 bg-dark ">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ConsultMe 2020-21</p>
        </div>
        <!-- /.container -->
    </footer>

    </div>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function delete_flash(flash) {
            $(flash).parent().remove()
        }
    </script>
    <script>
        var delayed;
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ labels | safe}},
            datasets: [
                {
                    label: "Count",
                    data: {{ values | safe }},
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4,
                    borderWidth: 1,
                lineTension:0.5
            }]
        },
        
       
        options: {
            responsive:false,
            animation: {
            onComplete: () => {
                delayed = true;
            },
            delay: (context) => {
                let delay = 0;
                if (context.type === 'data' && context.mode === 'default' && !delayed) {
                delay = context.dataIndex * 300 + context.datasetIndex * 100;
                }
                return delay;
            },
            },
            
        }
        });
    </script>

</body>

</html>