{% extends "layout.html" %}
{% block body %}
<script>
    function ajax() {

        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                document.getElementById('getchats').innerHTML = req.responseText;
            }
        }
        req.open('POST', '/getchats', true);
        req.send();
    }
    setInterval(function () { ajax() }, 10);
</script>
<div class="bg-gra-02" onload="ajax();">
<!-- <div class="bg-gra-02"> -->
    <div class="p-t-130 font-poppins " style="display:flex; padding-bottom:80px ; ">
        <div class="wrapper " style="width: 40vw;">
            <div class="chat bg-dark card_body">
                <div class=" card-body">

                    <h2 class="predict-h2">Recent Chats</h2>
                    <div class="">
                        <div class="row form-group has-search" style="display: flex;">

                            {% if doctors_list is defined %}
                                <input type="text" id="myInput" class="input--style-4 form-control"
                                    placeholder="Search a user..." onkeyup="myFunction()">
                                <ul class="container navbar-nav" id="myUL">
                                    <form action="/consult" method="POST">
                                        {% for doctor in doctors_list %}
                                            <li class="item3 msg_received"
                                                style="display: flex; flex-direction: column; margin: 5px; margin-top: 20px;border: 2px ridge black;">
                                                <div class=" " style="display: flex;">
                                                    <img src='https://picsum.photos/200/300' class="rounded-circle user_img_msg"
                                                        width="40" height="40" style="border: 2px ridge black;">
                                                    <h5 style="display: flex;">
                                                        <a class="nav-link"class="a" style="color: black
                                                        ;">@{{doctor.username}} </a>
                                                    </h5>
                                                </div>
                                                <hr>
                                                <p class="spec" style="margin-top: 10px;">Specialization: {{doctor.specialist}}</p>
                                                <span class="" style="color: black;">Having {{doctor.experience}} of
                                                    Experience</span>
                                                <button type="submit" name='chat-btn' class="btn btn--blue btn--radius-2"
                                                    value="{{doctor.id}}">Chat</button>
                                            </li>
                                        {% endfor %}
                                    </form>
                                </ul>

                                    
                            {% else %}
                                <input type="text" id="myInput" class="input--style-4 form-control"
                                placeholder="Search a user..." onkeyup="myFunction2()">
                                <ul class="container navbar-nav" id="myUL">
                                    <form action="/consult" method="POST">
                                    {% for users in users_list %}
                                        <li class="item3 msg_received"
                                            style="display: flex; flex-direction: column; margin: 5px; margin-top: 20px; border: 2px ridge black;">
                                            <div class=" " style="display: flex;">
                                                <img src='https://picsum.photos/200/300' class="rounded-circle user_img_msg"
                                                    width="40" height="40" style="border: 2px ridge black;">
                                                <h5><a class="nav-link" class="a" style="color: black
                                            ;">@{{users.username}} </a>
                                                    <p style="color: black;">Email-id :- {{users.email}} </p>
                                                </h5>
                                            </div>
                                            <button type="submit" name='chat-btn' class="btn btn--blue btn--radius-2"
                                                value="{{users.id}}">Chat</button>
                                        </li>
                                    {% endfor %}
                                </form>
                            </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper " style="width: 55vw;">

            <div class="bg-dark msg_card_body col-sm-12 ">
                <div>
                    <h2 class="predict-h2">Chat Box<svg style="margin: 0px 10px;" xmlns="http://www.w3.org/2000/svg"
                            width="25" height="25" fill="black" class="bi bi-chat-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                        </svg></h2>

                    {% if chats is defined %}
                    <div class="item3 " style="display: flex; justify-content:end; margin: 5px; margin-top: 20px; background-color:#a5dbec;border-radius: 10px;width: 100%; border:2px solid black"
                       >
                        <div        style="display: flex;align-items: center;">
                            <img style="border: 2px solid black;" src='https://picsum.photos/200/300'
                                class="rounded-circle user_img_msg" width="40" height="40">
                            <h5 style="flex: 1;"><a class="nav-link" href="/profile" class="a" style="color: black
                                                ;">@{{selected_user.u_name}} </a>
                            </h5>
                            {% if users_list is defined %}
                            
                                {% if isenabled == True %}
                                    <form method="POST" action="/endchat" autocomplete="off" onSubmit="return confirm('Are you sure you wish to end the consultation?');">
                                        <button class="btn btn--blue btn--radius-2" style="width: fit-content;margin-left: 20rem;">End Chat</button>
                                    </form>
                                {% endif %} 
                            {% endif %}                            
                        </div>
                    </div>
                    <div id="getchats">

                    </div>
                    <!-- {% for chat in chats %}
                    {% if chat.senderid != uid %}

                    <div class="d-flex container justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg" width="30" height="30">
                            <p style="color: whitesmoke;margin: 5px">{{selected_user.u_name}} </p>
                        </div>
                        <div style="display: flex; flex-direction: column; margin: 5px;">
                            <div class="talk-bubble-send tri-right left-top">
                                <h5 class="msg_send">{{chat.message}}</h5>
                            </div>
                            <span class="time">{{ chat.send_time }} </span>
                        </div>

                    </div>
                    {% else %}
                    <div class="d-flex container justify-content-end mb-4">

                        <div style="display: flex; flex-direction: column; margin: 5px;">
                            <div class="talk-bubble-receive tri-right btm-right">
                            <h5 class="msg_received ">{{chat.message}}</h5>
                            </div>
                            <span class="time"> {{chat.send_time}} </span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} -->
                    {% if users_list is defined %}
                        {% if isenabled == True %}
                            <div class="card-footer " style="margin-top: auto;">
                                <div>
                                    <form method="POST" action="/chat" autocomplete="off">
                                        <div class="input--style-5 ">

                                            <input name="message" class=" form-control"
                                                placeholder="Type your message..."></input>
                                            <button type="submit" class="btn btn--blue btn--radius-2 " autofocus=""
                                                style="width :50ve; max-width: fit-content; display: flex; float: right; margin: 5px;">
                                                Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-footer " style="margin-top: auto;">
                                <!-- <div>
                                    <form method="POST" action="/startchat" autocomplete="off">
                                        <div class="input--style-5 ">

                                            <input name="disease_name" class=" form-control"
                                                placeholder="Type the disease name..."></input>
                                            <button type="submit" class="btn btn--blue btn--radius-2 " autofocus=""
                                                style="width :50ve; max-width: fit-content; display: flex; float: right; margin: 5px;">
                                                Start the consultation
                                            </button>
                                        </div>
                                    </form>
                                </div> -->
                                <p class="b" style="display: flex;justify-content: center;"> The chat is currently disabled. </p>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if isenabled == True %}
                            <div class="card-footer " style="margin-top: auto;">
                                <div>
                                    <form method="POST" action="/chat" autocomplete="off">
                                        <div class="input--style-5 ">

                                            <input name="message" class=" form-control"
                                                placeholder="Type your message..."></input>
                                            <button type="submit" class="btn btn--blue btn--radius-2 " autofocus=""
                                                style="width :50ve; max-width: fit-content; display: flex; float: right; margin: 5px;">
                                                Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-footer " style="margin-top: auto;">
                                <div>
                                    <p class="b"> The chat is currently disabled. To initiate the consultation please enter the disease name you want to consult the doctor for.</p>
                                    <form method="POST" action="/startchat" autocomplete="off">
                                        <div class="input--style-5 ">

                                            <input name="disease_name" class=" form-control"
                                                placeholder="Type the disease name..."></input>
                                            <button type="submit" class="btn btn--blue btn--radius-2 " autofocus=""
                                                style="width :50ve; max-width: fit-content; display: flex; float: right; margin: 5px;">
                                                Start the consultation
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                        <!-- {{ form.message.label(class="input--style-5 form-control-label") }}
                
                                        {% if form.message.errors %}
                                            {{ form.message(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.message.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.message(class="form-control form-control-lg") }}
                                        {% endif %} -->
                        <!-- <div >
                                            <button type="submit" class="btn btn--blue btn--radius-2 " autofocus="" style="max-width: fit-content; display: flex; float: right; margin: 5px;">
                                                Send
                                            </button>
                                        </div> -->
                        <!-- <button type="submit" class="btn btn--blue btn--radius-2 " style="display: flex; width: max-content;" autofocus="">
                                            Send
                                        </button> -->

                </div>
                {% else %}
                <p class="b" style="text-align: center;">Please select a user to chat with.</p>
                {% endif %}





            </div>
        </div>
    </div>
</div>
<script>

    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            
            b = li[i].getElementsByClassName("spec")[0];
            // console.log(b);
            // print(b);
            txtValue = a.textContent || a.innerText;
            specVal = b.textContent || a.innerText;
            if ((txtValue.toUpperCase().indexOf(filter) > -1) || (specVal.toUpperCase().indexOf(filter) > -1)) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function myFunction2() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    
    // var refInterval = window.setInterval('update()', 5000); // 30 seconds

    // var update = function() {
    //     $.ajax({
    //         type : 'POST',
    //         url : '/consult',
    //         success : function(data){
    //             console.log(data);
    //             // $('.voters').html(data);
    //         },
    //     });
    // };
    // update();

</script>


{% endblock %}



<!-- https://codepen.io/blackcityhenry/pen/LXOOgW -->


