<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 404 not found page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><span> 4</span><span>0</span><span>4</span></h2>
      <h1>Sorry! Page not found</h1>
      <div class="text-center mt-4">
        <button type="button" onclick="location.href='http://localhost:5000/';" class="btn  btn-lg" style="background-color:  #067446; color: white;">Home Page</button>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
  
</body>
</html>