{% extends "layout.html" %}
{% block body %}
    <header style="background-color: #5CDB95;">
        <div class="container text-center">
            <h1 class="hover" style="font-weight: bold; font-size: 50px; ">Welcome to ConsultMe
                </h1>
                <p style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif ;font-weight: bold;">
                    The lockdown that took place due to the Covid-19 all around the country had some severe impact on people. Most of them were afraid to go outside of their homes. People were reluctant to go even for a routine checkup.</p>
                    <p style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;font-weight: bold;">
                        The aim of this project is to provide an effective solution for the same. The patient has to enter the symptoms and then our Machine-Learning based Web Application will update them about the disease which they are suffering from and suggest some home remedies and  treatments for the same. </p> 
                        <h2 class="hover"><span style="font-size: 80px;">"</span>An ounce of prevention is worth a pound of cure
                            <span style="font-size: 80px;">"</span></h2>
                           
                    </div>
                </header>
                
    
    <section id="services" class="bg-light">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col-lg-12 mx-auto">
                    <h2 class="header-title text-center" style="color: #05386B ;margin: 1rem; font-size:50px;"> We provide various functionalities
                    </h2>
                </div>
                <div class="col-sm-4 p-t-130">

                    <div class="item4 card card-4 col-sm-12">
                        <div class="card-body">
                                <a class="title " style="text-decoration: none; " href="/predict"><strong>Predict a Disease</strong> </a>
                                <hr>
                                <p >

                                    User can enter the symptoms and get to know about the disease                       
                                </p>
                        </div>
                    </div>
                </div>
                
                <div class=" col-sm-4 p-t-130">
                    <div class="item4 card card-4 col-sm-12">
                        <div class="card-body">
                            <a class="title text-black" style="text-decoration: none;" href="/consult"><strong>Consult a Doctor</strong></a>
                            <hr>
                            <p>
                                User can consult with a doctor online using our website 
                            </p>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2>About Us</h2>
                    <!-- <p class="text-center ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo eveniet quam molestiae et eius, cumque quis eligendi sint magnam iste.</p> -->
                    
                </div>
                <div class="hcard  col-sm-6 p-t-130">
                    <div class="card card-4 col-sm-12" >
                        <div class="card-body">
                            <h2 class="title text-center" style="margin-bottom: 2px;">Member 1 </h2>
                            <hr>
                            <img src="{{ url_for('static', filename='img/user1.png') }}" width="100" height="100" class="round-circle" style="margin-left: 100px ;border-radius:100px">
                            
                            <h4 class="text-center" style="margin: 10px;"><a  href="https://github.com/rjshah00"><strong style="color:black; ">Raj Shah</strong></a>
                                <p>
                                    <strong style="color:rgb(32, 86, 148) "> Skills and Interested Domains </strong><br>
                                </p>
                                <ul>
                                    <li> Web Designing</li>
                                    <li> App Development</li>
                                    <li> Machine Learning</li>
                                    <li> Computer Graphics</li>
                                  </ul>
                            </h4>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="hcard col-sm-6 p-t-130">
                    <div class="card card-4 col-sm-12" >
                        <div class="card-body">
                            <h2 class="title text-center" style="margin-bottom: 2px;">Member 2 </h2>
                            <hr>
                            <img src="{{ url_for('static', filename='img/user2.png') }}" width="100" height="100" class="round-circle" style="margin-left: 100px;border-radius:100px;">
                            
                            <h4 class="text-center" style="margin: 10px;"><a href="https://github.com/Parth18Shah"><strong style="color:black; ">Parth Shah</strong></a>
                                <p >
                                    <strong style="color:rgb(32, 86, 148);"> Skills and Interested Domains </strong><br>
                                </p>
                                <ul>
                                    <li> Data Analytics</li>
                                    <li> App Development</li>
                                    <li> AI/ML</li>
                                    <li> Web Development</li>
                                  </ul>
                            </h4>
                        </div>
                    </div>
                </div> 
            </div>
    </section>


    <section id="contact" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="container animated fadeIn">
                    <!-- <div class="row"> -->
                    <h1 class="header-title"> Contact Us</h1>

                    <div class="row col-sm-12 p-t-130" id="parent">
                        <div class="col-sm-6">
                            <iframe width="100%" height="320px;" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaY32Qm3KWTkRuOnKfoIVZws&key=AIzaSyAf64FepFyUGZd3WFWhZzisswVx2K37RFY"
                                allowfullscreen></iframe>
                        </div>

                        <div class=" col-sm-6">
                            <form action="" class="contact-form" method="post">

                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="nm" placeholder="Name"
                                        required="" >
                                </div>


                                <div class="form-group form_left">
                                    <input type="email" class="form-control" id="email" name="em" placeholder="Email"
                                        required="">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10"
                                        placeholder="Mobile No." required="">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB"
                                        placeholder="Type Your Message/Feedback here..." required=""></textarea>
                                    <br>
                                    <button class="btn btn-default btn-send btn--radius-2"> <span
                                            class="glyphicon glyphicon-send"></span> Send </button>
                                </div>
                            </form>
                        </div>
                        <!-- </div> -->
                    </div>

                </div>
            </div>

        </div>
        </div>
        </div>
    </section>

{% endblock %}