{% extends "layout.html" %}
{% block body %}
<div class="bg-gra-02 p-t-130 font-poppins " style="width: 100%;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="width: fit-content;margin: auto;">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick=delete_flash(this)>
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <div style="display:flex; padding-bottom:80px ;justify-content: center;align-items: center;">
        
        <div class="wrapper " style="width: 40vw;">
            <div class="chat bg-dark">
                <div class=" card-body">

                    <h2 class="predict-h2">Predict a Disease</h2>
                    <div class="">
                        <div class="row form-group has-search" style="display: flex;">
                            <form action="{{ url_for('predict') }}" method="POST" class="p-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="b" for="disease1">Symptom 1 :</label>
                                            <select class="custom-select d-block w-100" id="disease1" name="Symptom_1">
                                                <option value="0">Choose...</option>
                                                {% for each in symptomslist %}
                                                <option>{{ each }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="b" for="disease2">Symptom 2 :</label>
                                            <select class="custom-select d-block w-100" id="disease2" name="Symptom_2">
                                                <option value="0">Choose...</option>
                                                {% for each in symptomslist %}
                                                <option>{{ each }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="b" for="disease3">Symptom 3 :</label>
                                            <select class="custom-select d-block w-100" id="disease3" name="Symptom_3">
                                                <option value="0">Choose...</option>
                                                {% for each in symptomslist %}
                                                <option>{{ each }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="b" for="disease4">Symptom 4 :</label>
                                            <select class="custom-select d-block w-100" id="disease4" name="Symptom_4">
                                                <option value="0">Choose...</option>
                                                {% for each in symptomslist %}
                                                <option>{{ each }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="b" for="disease5">Symptom 5 :</label>
                                            <select class="custom-select d-block w-100" id="disease5" name="Symptom_5">
                                                <option value="0">Choose...</option>
                                                {% for each in symptomslist %}
                                                <option>{{ each }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn--blue btn--radius-2 " type="submit" value="submit"
                                    style="margin-top: 2rem;">Predict</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if diseasename is defined %}
        <div class="wrapper " style="width: 55vw;">
            <div class="bg-dark predict_card_body col-12 ">
                <div class="chat">
                    <h2 class="predict-h2">Predicted Disease</h2>
                    <p class="b">Predicted disease: {{diseasename[0]}}</p>
                    <hr style="background-color:whitesmoke">
                    <p class="b">About the disease:</p>
                    <p class="b">{{ diseasedesc }}</p>
                    <h2 class="predict-h2">Treatment/Precaution</h2>
                    <p class="b">Treatment/Precaution for the disease:</p>
                    <ul>
                        {% for i in treatment %}
                        <li class="b">{{ i }}</li>
                        {% endfor %}
                    </ul>
                    <hr style="background-color:whitesmoke">
                    <!-- <p class="b" style="text-align: center;"> Please consult a <strong> {{ specialization }} -->
                        <!-- </strong>doctor.</p> -->
                    <form action="/predict" method="POST" autocomplete="off">
                        <div class="input-group" style="display: flex; color:whitesmoke; margin-top: 50px;">
                            <p style="font-size: large;font-weight: bolder;">
                                {{ form.feedback_input.label(class="form-control-label") }}
                            </p>
                            <div>
                                <label class="radio-container" style="color:whitesmoke ;margin:2px">Satisfied
                                    <input type="radio" name="feedback_input" value="True">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container" style="color:whitesmoke ;margin:2px">Not Satisfied
                                    <input type="radio" name="feedback_input" value="False">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div style="width: fit-content;margin-left: 5px;">
                                {{ form.feedback(class="btn btn--blue btn--radius-2")}}
                            </div>
                        </div>
                        
                    </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>



    {% endblock %}
</div>

